{% extends "layout.html" %}
{% load tailwind_filters %}
{% block title %}BlogBook{% endblock %}

{% block content %}

<div class="mx-auto min-h-screen px-4 py-7 bg-gradient-to-br from-blue-600 via-slate-900 to-slate-500">
    {% if form.instance.pk %}
    <p class="text-center text-4xl text-yellow-500 font-bold text-shadow-lg/30">Edit this Blog</p>
    <div class="rounded w-27 h-1 bg-gray-300 mx-auto mt-2"></div>
    {% else %}
    <p class="text-center text-4xl text-yellow-500 font-bold text-shadow-lg/30">Add new Blog</p>
    <div class="rounded w-27 h-1 bg-gray-300 mx-auto mt-2"></div>
    {% endif %}
    <p class="text-center text-lg text-gray-300 mt-2">Share your thoughts and stories with the world.</p>
    <div class="max-w-2xl mx-auto mt-8 bg-gray-400 p-6 rounded-lg shadow-lg shadow-gray-100/50">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <img
            id="image-preview"
            src="{% if form.instance.photo %}{{ form.instance.photo.url }}{% endif %}"
            class="mb-6 w-full max-h-64 object-cover rounded-md shadow-md"
            {% if not form.instance.photo %}style="display:none;"{% endif %}
            />
            <button type="submit" class="px-5 py-2 bg-yellow-500 rounded-lg cursor-pointer text-white font-bold hover:bg-yellow-600 transition duration-200 shadow-lg shadow-yellow-500/50">
                Submit
            </button>
        </form>
    </div>
</div>

{% endblock %}