{% extends "layout.html" %}
{% load tailwind_filters %}

{% block title %}Blogbook | Login{% endblock %}

{% block content %}
<div class="mx-auto h-screen px-4 py-7 bg-gradient-to-br from-blue-600 via-slate-900 to-slate-500">
    <h2 class="text-center mb-5 text-4xl text-yellow-500 font-bold text-shadow-lg/30">Login Form</h2>
    <div class="max-w-md mx-auto bg-gray-400 p-7 shadow-lg">
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="mt-4 px-5 py-2 bg-yellow-500 rounded-lg cursor-pointer text-white font-bold hover:bg-yellow-600 transition duration-200 shadow-lg shadow-yellow-500/50">Login</button>
        </form>
        <p class="mt-4 text-center text-black font-bold">
            Don't have an account? <a class="text-red-800 underline hover:text-red-900" href="{% url 'register' %}">Register here</a>
        </p>
    </div>
</div>

{% endblock %}